### Java / Gradle ###
build/
!**/src/main/**/build/
!**/src/test/**/build/
.gradle/
*.class
*.log
out/

### Eclipse / STS ###
# JDT 언어 서버의 컴파일 출력. server/bin 만 막는다.
/bin/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 데이터 ###
**/resources/**/*.json
